apiVersion: v1
kind: Namespace
metadata:
  name: ieap
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: ieap
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: __FRONTEND_IMAGE__        # replace with <user>/ieap-frontend:tag
        ports:
        - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-svc
  namespace: ieap
spec:
  selector:
    app: frontend
  ports:
  - port: 80
    targetPort: 3000
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: java-deployment
  namespace: ieap
spec:
  replicas: 1
  selector:
    matchLabels:
      app: java
  template:
    metadata:
      labels:
        app: java
    spec:
      containers:
      - name: java
        image: __JAVA_IMAGE__           # replace with <user>/ieap-java:tag
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: java-svc
  namespace: ieap
spec:
  selector:
    app: java
  ports:
  - port: 8080
    targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-deployment
  namespace: ieap
spec:
  replicas: 1
  selector:
    matchLabels:
      app: python
  template:
    metadata:
      labels:
        app: python
    spec:
      containers:
      - name: python
        image: __PY_IMAGE__            # replace with <user>/ieap-python:tag
        ports:
        - containerPort: 8000
---
apiVersion: v1
kind: Service
metadata:
  name: python-svc
  namespace: ieap
spec:
  selector:
    app: python
  ports:
  - port: 8000
    targetPort: 8000
